---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
    font-family: D2Coding;
    src: url("/assets/fonts/D2Coding.ttc") format('truetype');
    font-weight: bold;
    font-style: normal;
}

// GPT가 알려준 색상 바꾸는 방법..
h1,
h2,
h3 {
  color: #87CEEB !important; /* SkyBlue */
}

h4,
h5,
h6 {
  color: #000 !important; /* 기본 색상 */
}